In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [28]:
# customer = pd.read_csv(r"D:\quick_commerce_capstone\output_data\customers.csv")
# order_status_logs = pd.read_csv(r"D:\quick_commerce_capstone\output_data\order_status_logs.csv")
# products = pd.read_csv(r"D:\quick_commerce_capstone\output_data\products.csv")
# transactions = pd.read_csv(r"D:\quick_commerce_capstone\output_data\transactions.csv")

engine = create_engine(
    "mysql+mysqlconnector://root:mysql999@localhost:3306/capstone"
)

In [56]:
customers = pd.read_sql('select * from customers', engine)
order_status_logs = pd.read_sql('select * from order_status_logs', engine)
products = pd.read_sql('select * from products', engine)
transactions = pd.read_sql('select * from transactions', engine)
orders = pd.read_sql('select * from orders', engine)

In [57]:
customers.isnull().sum()[customer.isnull().sum() >0]

email                   0
address                 0
last_active_date    15000
dtype: int64

In [58]:
customers.columns

Index(['cust_id', 'cust_name', 'email', 'phone', 'gender', 'age', 'city',
       'address', 'signup_date', 'last_active_date'],
      dtype='object')

In [59]:
customers.city = customers.city.str.lower()

In [60]:
customer.city.value_counts()

city
delhi        10227
surat        10148
indore       10142
chennai      10054
jaipur       10039
pune         10031
mumbai       10023
ahmedabad     9993
bhopal        9988
kolkata       9938
bengaluru     9917
hyderabad     9910
gurugram      9909
faridabad     9891
noida         9790
Name: count, dtype: int64

In [61]:
orders.isnull().sum()[orders.isnull().sum() > 0]

Series([], dtype: int64)

In [62]:
orders.city.value_counts()

city
Surat        43513
Jaipur       43208
Delhi        42877
Indore       42795
Chennai      42579
Bhopal       42453
Pune         42214
Mumbai       42140
Bengaluru    42095
Ahmedabad    42019
Hyderabad    41855
Gurugram     41837
Faridabad    41583
Noida        41560
Kolkata      41506
INDORE        9490
DELHI         9415
HYDERABAD     9138
FARIDABAD     9096
GURUGRAM      9072
pune          9038
kolkata       9028
PUNE          9020
delhi         9016
ahmedabad     8953
bhopal        8944
MUMBAI        8942
AHMEDABAD     8922
JAIPUR        8867
KOLKATA       8866
CHENNAI       8862
noida         8846
gurugram      8819
indore        8797
hyderabad     8764
mumbai        8733
SURAT         8719
bengaluru     8714
BENGALURU     8711
surat         8654
BHOPAL        8591
jaipur        8555
faridabad     8547
chennai       8439
NOIDA         8208
Name: count, dtype: int64

In [63]:
orders.city = orders.city.str.lower()

In [64]:
orders

,order_id,cust_id,prod_id,quantity,order_date,order_time,order_ts,city,eta_minutes,order_value
0,1,29185,205,2,2025-02-02,0 days 09:47:06,2025-02-02 09:47:06,noida,45,240.18
1,2,22791,4838,1,2024-11-18,0 days 10:14:32,2024-11-18 10:14:32,indore,45,722.73
2,3,52125,4465,1,2025-11-10,0 days 18:51:55,2025-11-10 18:51:55,noida,15,333.59
3,4,110786,2788,1,2026-01-30,0 days 19:06:05,2026-01-30 19:06:05,pune,20,67.04
4,5,90166,4946,1,2025-10-23,0 days 21:34:07,2025-10-23 21:34:07,kolkata,30,417.94
...,...,...,...,...,...,...,...,...,...,...
899995,899996,8478,3310,5,2025-10-27,0 days 23:41:13,2025-10-27 23:41:13,indore,30,2298.20
899996,899997,17968,2985,1,2024-10-19,0 days 19:32:00,2024-10-19 19:32:00,surat,30,191.99
899997,899998,78544,2036,3,2024-03-31,0 days 01:02:39,2024-03-31 01:02:39,delhi,20,223.47
899998,899999,146195,4403,2,2024-05-27,0 days 21:43:23,2024-05-27 21:43:23,gurugram,10,411.72
899999,900000,26601,3247,5,2025-10-08,0 days 22:28:45,2025-10-08 22:28:45,ahmedabad,30,3858.95

In [53]:
transactions

,transaction_id,order_id,payment_mode,payment_status,transaction_amount,payment_ts
0,1,1,COD,SUCCESS,240.18,2025-02-02 09:48:08
1,2,2,UPI,SUCCESS,722.73,2024-11-18 10:16:42
2,3,3,Credit Card,SUCCESS,333.59,2025-11-10 18:52:52
3,4,4,COD,SUCCESS,67.04,2026-01-30 19:10:49
4,5,5,UPI,SUCCESS,417.94,2025-10-23 21:34:28
...,...,...,...,...,...,...
899995,899996,449996,Net Banking,SUCCESS,596.79,2024-05-10 23:58:01
899996,899997,449997,UPI,SUCCESS,207.51,2024-09-27 23:18:36
899997,899998,449998,UPI,SUCCESS,636.93,2025-04-14 23:09:28
899998,899999,449999,COD,SUCCESS,226.74,2024-06-08 08:22:10
899999,900000,450000,Wallet,PENDING,1460.13,2024-03-03 18:17:15

In [66]:
transactions.payment_mode.value_counts()

payment_mode
Net Banking    150386
Debit Card     150031
Wallet         149994
UPI            149964
Credit Card    149927
COD            149698
Name: count, dtype: int64

In [73]:
products.is_perishable.value_counts()

is_perishable
0    3328
1    1672
Name: count, dtype: int64

In [69]:
products

,prod_id,prod_name,category,sub_category,brand,price,is_perishable,created_at
0,1,"Deshpande, Bahri and Mahajan Milk",Dairy & Bakery,Milk,"Deshpande, Bahri and Mahajan",230.22,1,2024-11-22
1,2,Sood-Tandon Wheat,Staples,Wheat,Sood-Tandon,104.19,0,2024-03-11
2,3,"Luthra, D’Alia and Ahluwalia Milk",Dairy & Bakery,Milk,"Luthra, D’Alia and Ahluwalia",189.43,1,2024-02-09
3,4,"Nayar, Batra and Srinivas Fruits",Fruits & Vegetables,Fruits,"Nayar, Batra and Srinivas",36.87,1,2025-08-28
4,5,"Mukhopadhyay, Dube and Patla Rice",Staples,Rice,"Mukhopadhyay, Dube and Patla",298.17,0,2024-04-25
...,...,...,...,...,...,...,...,...
4995,4996,Sheth Inc Cheese,Dairy & Bakery,Cheese,Sheth Inc,43.25,1,2024-06-11
4996,4997,"Khanna, Yohannan and Kunda Shampoo",Personal Care,Shampoo,"Khanna, Yohannan and Kunda",498.25,0,2024-12-29
4997,4998,Chowdhury-Din Pet Accessories,Pet Care,Pet Accessories,Chowdhury-Din,1106.32,0,2024-12-02
4998,4999,Samra Ltd Shampoo,Personal Care,Shampoo,Samra Ltd,543.48,0,2024-08-08
4999,5000,"Kanda, Lalla and Lal Vegetables",Fruits & Vegetables,Vegetables,"Kanda, Lalla and Lal",185.39,1,2024-05-22

In [78]:
order_status_logs.order_status.value_counts()

order_status
PLACED              900000
CONFIRMED           900000
PACKED              900000
OUT_FOR_DELIVERY    819107
DELIVERED           819107
CANCELLED            80893
Name: count, dtype: int64

In [77]:
order_status_logs

,status_log_id,order_id,order_status,status_date,status_time,status_ts
0,1,1,PLACED,2025-02-02,0 days 09:53:06,2025-02-02 09:53:06
1,2,1,CONFIRMED,2025-02-02,0 days 10:15:06,2025-02-02 10:15:06
2,3,1,PACKED,2025-02-02,0 days 10:35:06,2025-02-02 10:35:06
3,4,1,OUT_FOR_DELIVERY,2025-02-02,0 days 10:54:06,2025-02-02 10:54:06
4,5,1,DELIVERED,2025-02-02,0 days 11:07:06,2025-02-02 11:07:06
...,...,...,...,...,...,...
4419102,4419103,450000,PLACED,2024-03-03,0 days 18:40:07,2024-03-03 18:40:07
4419103,4419104,450000,CONFIRMED,2024-03-03,0 days 19:16:07,2024-03-03 19:16:07
4419104,4419105,450000,PACKED,2024-03-03,0 days 19:25:07,2024-03-03 19:25:07
4419105,4419106,450000,OUT_FOR_DELIVERY,2024-03-03,0 days 19:47:07,2024-03-03 19:47:07
4419106,4419107,450000,DELIVERED,2024-03-03,0 days 20:10:07,2024-03-03 20:10:07